version: '3'
services:
  nginx:
    build: docker/nginx
    ports:
      - 80:80
    volumes:
      - ./docker/nginx/logs/:/var/log/nginx
      - .:/links
  php:
    build: docker/php
    user: ${UID}:${UID}
    working_dir: /links
    environment:
      XDEBUG_CONFIG: remote_host=172.20.0.1
      PHP_IDE_CONFIG: serverName=links-dev
    restart: always
    volumes:
      - .:/links
  db:
    image: mysql:8.0.12
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./dbdata:/var/lib/mysql
    restart: always
    ports:
      - 3310:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: links
  composer:
    image: composer
    volumes:
      - ".:/app"
    command: install
